<div class="comment-item">
    <ul>
        <li><b> <%=comment.full_name%> </b></li>
        <li>  <%=comment.updatedAt.toLocaleString()%>  </li>
        <li>
            <p><%=comment.body%> </p>
        </li>
    </ul>
</div>